.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin-bottom: 30rem;
}

.container {
  background-color: var(--container-foreground);
  width: 50%;
  color: var(--text-color);
  border-radius: 15px;
  box-shadow: 0px 0px 0px 1rem var(--container-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5rem;
}
.titleInput,
.contentInput {
  background-color: transparent;
  border: none;
  color: black;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem;
}

.titleInput:focus,
.contentInput:focus {
  outline: none;
}

.titleInput {
  font-size: 50pt;
}
.contentInput {
  font-size: 20pt;
  height: 50vh;
}

.postButton {
  background-color: var(--container-background);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  font-size: 20pt;
  cursor: pointer;
  margin-bottom: 10rem;
  transition: background-color 0.2s ease-in-out;
}

.postButton:hover {
  background-color: var(--container-background-hover);
}
